log4j2.dtd

<!ELEMENT Configuration (Appenders,Loggers)>
<!ATTLIST Configuration status NMTOKEN #REQUIRED>
<!ELEMENT Appenders (Console,File)>
<!ELEMENT Console (PatternLayout)>
<!ATTLIST Console name NMTOKEN #REQUIRED>
<!ATTLIST Console target NMTOKEN #REQUIRED>
<!ELEMENT PatternLayout EMPTY>
<!ATTLIST PatternLayout pattern CDATA #REQUIRED>
<!ELEMENT File (PatternLayout)>
<!ATTLIST File name NMTOKEN #REQUIRED>
<!ATTLIST File fileName CDATA #REQUIRED>
<!ATTLIST File append NMTOKEN #REQUIRED>
<!ELEMENT Loggers (Root)>
<!ELEMENT Root (AppenderRef+)>
<!ATTLIST Root level NMTOKEN #REQUIRED>
<!ELEMENT AppenderRef EMPTY>
<!ATTLIST AppenderRef ref NMTOKEN #REQUIRED>